In [3]:
import pandas as pd

pd.DataFrame(
    [
        ["Alice", "TI", 5, "2012-09-01"]
    ],
    columns=["user_id", "movie_id", "score", "date"]
)

  user_id movie_id  score        date
0   Alice       TI      5  2012-09-01